{% extends 'base.html' %}
{% load static %}

{% block title %}
    This Post Title**
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static "blog/post_detail.css" %}" />
{% endblock %}

{% block content %}
    <section id='summary'>
        <h2>Post Title**</h2>
        <article>
            <img src="{% static 'blog/images/mountains.jpg' %}" alt="Post Title**">
            <address>By Will</address>
            <div>
                Last updated on <time></time>
            </div>
        </article>
    </section>

    <main>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime dolores quos voluptatibus reprehenderit mollitia molestiae, illo recusandae explicabo rem dicta cumque soluta repudiandae ex. Dicta atque inventore tenetur iusto enim.
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime dolores quos voluptatibus reprehenderit mollitia molestiae, illo recusandae explicabo rem dicta cumque soluta repudiandae ex. Dicta atque inventore tenetur iusto enim.
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime dolores quos voluptatibus reprehenderit mollitia molestiae, illo recusandae explicabo rem dicta cumque soluta repudiandae ex. Dicta atque inventore tenetur iusto enim.
        </p>
    </main>
{% endblock %}